@media (max-width: 400px) {
	.logo {
		max-width: 180px !important;
	}
}

@media (min-width: 400px) {
	.logo {
		max-width: 250px !important;
	}
}

body {
	background-color: #000 !important;
}

.btn {
	background-color: #000000;
	color: #fff;
}

.btn:hover {
	background-color: #ffffff;
	color: rgb(0, 0, 0);
}

.text-description {
	font-size: 14px;
}

.footer-title {
	color: black !important;
	font-size: 13px;
}
